#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
#
# You don't need to set both of these values, just pick the one that you prefer and set that one
#
# By default, the Solana example will use the default cluster RPC URL if no other value is provided
MNEMONIC="your evm mnemonic"
PRIVATE_KEY="your evm private key"
RPC_URL_SOLANA="RPC URL for Solanamainnet"
RPC_URL_SOLANA_TESTNET="RPC URL for Solana devnet"
ANCHOR_WALLET="/Users/username/.config/solana/id.json"   # path to your solana wallet file
