.anchor
node_modules
.env
coverage
coverage.json
target/
typechain
typechain-types

# Endpoint program lib
programs/oft/src/lib.rs

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# foundry test compilation files
out

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea

test-ledger

# Harhdat deployments
deployments
